# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
venv/
.venv/
env/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# VSCode
# =========================
.vscode/

# =========================
# Environment Variables
# =========================
.env

# =========================
# Logs
# =========================
*.log

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Temporary Files
# =========================
temp/
tmp/

# =========================
# Python Testing / Cache
# =========================
.pytest_cache/
.mypy_cache/

# =========================
# Reports & Outputs
# =========================
reports/
outputs/

# =========================
# Model Artifacts
# =========================
*.pkl
*.joblib
*.h5
*.pt

# =========================
# Notebook Export Files
# =========================
*.html
*.pdf
*.pptx

# =========================
# Misc
# =========================
coverage/
dist/
build/